# Datatalk Assignment: 1

### Q1. Pandas version

In [1]:
import numpy as np
import pandas as pd

pd.__version__

'2.0.3'

### Q2. Records count

In [2]:
# read the dataset
df = pd.read_csv('C:/Users/WOYES/Desktop/laptops.csv')

# number of records in the dataset
df.shape

(2160, 12)

### Q3. Laptop brands

In [3]:
# numbers of laptop brands in the dataset
df['Brand'].nunique()

27

### Q4. Missing values

In [4]:
# columns with missing values
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

### Q5. Maximum final price

In [10]:
# the maximum final price of Dell notebooks in the dataset
dell= df[(df['Brand']=='Dell')]
dell['Final Price'].max()

3936.0

### Q6. Median value of Screen

In [11]:
# Finding the median value of Screen column in the dataset
df['Screen'].describe()

count    2156.000000
mean       15.168112
std         1.203329
min        10.100000
25%        14.000000
50%        15.600000
75%        15.600000
max        18.000000
Name: Screen, dtype: float64

In [13]:
#  most frequent value of the same Screen column
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [16]:
# Using fillna method to fill the missing values in Screen column with the most frequent value
df['Screen'].fillna(df['Screen'].mode(), inplace=True)

In [18]:
# calculating the median value of Screen once again
df['Screen'].describe()

count    2156.000000
mean       15.168112
std         1.203329
min        10.100000
25%        14.000000
50%        15.600000
75%        15.600000
max        18.000000
Name: Screen, dtype: float64

### Q7. Sum of weights

In [22]:
# Selecting all the "Innjoo" laptops from the dataset.
df1=df[df['Brand']=='Innjoo']

# Selecting only columns RAM, Storage, Screen
new_df= df1[['RAM', 'Storage', 'Screen']]

In [23]:
# Getting the underlying NumPy array
X= np.array(new_df)
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [24]:
# Computing matrix-matrix multiplication between the transpose of X and X
XTX = np.dot(X.T, X)

In [27]:
# Computing the inverse of XTX
inverse=np.linalg.inv(XTX)
inverse

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [28]:
# Creating an array y
y=np.array([1100, 1300, 800, 900, 1000,1100])

In [32]:
# Multiplying the inverse of XTX with the transpose of X, and then multiply the result by y
w = np.dot(np.dot(inverse, X.T), y)
w

array([45.58076606,  0.42783519, 45.29127938])

In [33]:
# sum of all the elements of the result
w.sum()

91.29988062995805